:root {
  --primary: #00a708;
  --primaryshadow: #007535;
  --secondary: #008d47;
  --secondaryshadow: #085224;
  --light: #f3c178;
  --dark: #440046;
  --contrast: #4e157c;
}
* {
  font-family: "Pokemon Solid", sans-serif;
}
body {
  background-color: var(--dark);
  padding: 10px;
}
#conjunto {
  color: var(--contrast);
  border: 2px solid var(--primaryshadow);
  border-radius: 20px;
  /*width: fit-content;
    height: fit-content;*/
  width: 80%;
  height: fit-content;
  background-color: var(--primary);
  padding: 30px;
  box-shadow: 5px 5px var(--primaryshadow);
  margin: 20px auto;
  text-shadow: 2px 0 var(--light), -2px 0 var(--light), 0 2px var(--light),
    0 -2px var(--light), 1px 1px var(--light), -1px -1px var(--light),
    1px -1px var(--light), -1px 1px var(--light);
  font-size: 24px;
}
input,
label,
p {
  margin: 10px auto 5px auto;
}
.boton {
  border-radius: 20px;
  background-color: var(--secondary);
  border: 1px solid var(--secondaryshadow);
  color: var(--light);
  font-weight: bold;
  padding: 10px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  box-shadow: 3px 3px var(--secondaryshadow);
  text-shadow: 2px 0 var(--contrast), -2px 0 var(--contrast),
    0 2px var(--contrast), 0 -2px var(--contrast), 1px 1px var(--contrast),
    -1px -1px var(--contrast), 1px -1px var(--contrast),
    -1px 1px var(--contrast);
}
.boton:disabled {
  background-color: var(--secondaryshadow);
  color: var(--contrast);
  border: 1px solid var(--secondary);
  box-shadow: 3px 3px var(--secondary);
  text-shadow: 2px 0 var(--light), -2px 0 var(--light), 0 2px var(--light),
    0 -2px var(--light), 1px 1px var(--light), -1px -1px var(--light),
    1px -1px var(--light), -1px 1px var(--light);
}
strong {
  color: var(--secondary);
}
table {
  text-align: center;
  margin: 15px auto;
  padding: 5px;
  border: 2px solid var(--primaryshadow);
  border-radius: 20px;
}
#formulario {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 40px;
}

.resultado {
  display: none;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 40px;
}

.animated {
  -webkit-animation: animated 0.5s ease-in-out infinite both;
  animation: animated 0.5s ease-in-out infinite both;
}

@-webkit-keyframes animated {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes animated {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
