* {
  font-family: "Pokemon Solid", sans-serif;
}
body {
  background-color: lemonchiffon;
  padding: 10px;
}
#conjunto {
  color: blueviolet;
  border: 2px solid blueviolet;
  border-radius: 20px;
  /*width: fit-content;
    height: fit-content;*/
  width: 40%;
  height: 750px;
  background-color: aqua;
  padding: 30px;
  box-shadow: 5px 5px rgba(137, 43, 226, 0.9);
  margin: 20px auto;
  text-shadow: 2px 0 rgb(255, 239, 98), -2px 0 rgb(255, 239, 98),
    0 2px rgb(255, 239, 98), 0 -2px rgb(255, 239, 98), 1px 1px rgb(255, 239, 98),
    -1px -1px rgb(255, 239, 98), 1px -1px rgb(255, 239, 98),
    -1px 1px rgb(255, 239, 98);
}
input,
label,
p {
  margin: 10px auto 5px auto;
}
.boton {
  border-radius: 20px;
  background-color: #ff80c0;
  border: 1px solid #eb4698;
  color: white;
  font-weight: bold;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  box-shadow: 3px 3px #eb4699e5;
  text-shadow: 2px 0 rebeccapurple, -2px 0 rebeccapurple, 0 2px rebeccapurple,
    0 -2px rebeccapurple, 1px 1px rebeccapurple, -1px -1px rebeccapurple,
    1px -1px rebeccapurple, -1px 1px rebeccapurple;
}
.boton:disabled {
  background-color: #9e4e76;
  color: lightgrey;
  border: 1px solid #551937;
  box-shadow: 3px 3px #551937e5;
  text-shadow: 2px 0 rgb(45, 22, 68), -2px 0 rgb(45, 22, 68),
    0 2px rgb(45, 22, 68), 0 -2px rgb(45, 22, 68), 1px 1px rgb(45, 22, 68),
    -1px -1px rgb(45, 22, 68), 1px -1px rgb(45, 22, 68),
    -1px 1px rgb(45, 22, 68);
}
strong {
  color: #eb4698;
}
table {
  text-align: center;
  margin: 15px auto;
  padding: 5px;
  border: 2px solid blueviolet;
  border-radius: 20px;
}
#formulario,
#resultado {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.animated {
  -webkit-animation: animated 0.5s ease-in-out infinite both;
  animation: animated 0.5s ease-in-out infinite both;
}

@-webkit-keyframes animated {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes animated {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
